<section class="ftco-intro">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-4 d-flex">
                <div class="intro d-lg-flex w-100 ftco-animate">
                    <div class="icon">
                        @*<span class="flaticon-support"></span>*@
                    </div>
                    <div class="text">
                        <h2>Visit Us</h2>
                        <p>Located near the city of Mistwick on the edge of the Smaragdine Wood, we’re a destination well worth the visit!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="intro color-1 d-lg-flex w-100 ftco-animate">
                    <div class="icon">
                        @*<span class="flaticon-cashback"></span>*@
                    </div>
                    <div class="text">
                        <h2>Gold Back Guarantee</h2>
                        <p>No longer need that Sword of Sharpness? Return your item and get your gold back!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="intro color-2 d-lg-flex w-100 ftco-animate">
                    <div class="icon">
                        @*<span class="flaticon-free-delivery"></span>*@
                    </div>
                    <div class="text">
                        <h2>Free Griffon Delivery</h2>
                        <p>Have your magic item flown to you anywhere free of charge on the backs of our swift griffons!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
